.switch {
    position: relative;
    display: inline-block;
    border-radius: 7px;
    width: 44px;
    height: 14px;
    background-color: #D8D8D8;
}

.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #0099FF;
    top: -2px;
    left: 1px;
    transition: all 0.3s;
}

.checkbox:checked+.switch::after {
    left: 26px;
}

.checkbox:checked+.switch {
    background-color: #D8D8D8;
}

.checkbox {
    display: none;
}